@using AmarteLibrary.Models;
@page "/fetchdata";
@using RestSharp;
@inject RestClient _restClient;
@using Newtonsoft.Json;
@inject SweetAlertService Swal;

<div class="row">
    <div class="col-md-4 mb-3">
        <input class="form-control" placeholder="Email" @bind="model.Email" />
    </div>
    <div class="col-md-4 mb-3">
        <input class="form-control" placeholder="Password" @bind="model.Password" />
    </div>
    <div class="col-md-4 mb-3">
        <button class="btn btn-primary" @onclick="BTNLogin">Login</button>
    </div>
</div>

@code {

    private Register model = new();

    private async Task BTNLogin()
    {
        var request = new RestRequest("https://localhost:7147/Account/login", Method.Post);

        request.AddHeader("Content-Type", "application/json");

        request.AddQueryParameter("useCookies", "true");
        request.AddQueryParameter("useSessionCookies", "false");

        request.AddBody(model);

        var response = await _restClient.ExecutePostAsync(request);

        if (response.IsSuccessful)
        {
            await Modal("Bienvenido", false);
        }
        else
        {

            await Modal("Contraseña o Usuario incorrecto", true);
            
        }
    }

    public async Task Modal(string message, bool alertIcon)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Position = "top-end",
                Title = alertIcon == true ? "Error 401 No Autorizado" : "Information",
                Text = message,
                Icon = alertIcon == true ? SweetAlertIcon.Error : SweetAlertIcon.Success,
                ShowConfirmButton = false,
                Timer = 1100
            });
    }
}
